<html>
  {%extends 'master.html'%}
  <head>
{%block title%}About-Us{%endblock%}

  </head>
  {%block content%}
  <body>

    <div class="success">
      <h2>Created @by</h2>
      <header>
      <p style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
        <strong>Despite</strong> the fact that Instagram giveaways have already experienced their "boom", many commercial 
        and personal accounts keep their profile active thanks to regular contests.
        But in order to get a positive result from this, you need to know 
        and work strictly for your subscribers. Giveaways like "iPhone for a 
        subscription" attract the wrong audience. After the end of the contest, 
        followers begin to leave the organizer's profile en masse, this leads to a 
        sharp drop in coverage and "kills" the statistics.</p>
        </header>
      </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src='static/snowden.jpg' style="width:100%">
          <div class="container">
            <h2>Edward Snowden</h2>
            <p class="title">CEO &amp; Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Snowden_Hidden@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="static/marcus.jpeg" style="width:100%">
          <div class="container">
            <h2>Adminstration Marcus</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>ChannelOfMarcus.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="static/any.jpg" style="width:100%">
          <div class="container">
            <h2>Jhonson Bill</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>JhonsonBill@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div> 
   
    {%endblock%}
  </body>
</html>