<html>
    {%extends 'master.html'%}
    {%block title%}Members of table{%endblock%}
    
    
        {%block content%}

        <body>
          
            <script>
                function myFunction() {
                  var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("myTable");
                  tr = table.getElementsByTagName("tr");
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }       
                  }
                }
                </script>
                  
               

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <div>
        
            <table id="myTable">
                <tr class="header">
                  
                  <th style="width: 45%;">Username</th>
                  <th style="width: 45%;">Country</th>
                  <th style="width: 45;">Case-Id</th>
                </tr>
                {%for x in tables%}
                <tr>
                   
                    <td>{{x.username}}</td>
                    <td>{{x.country}}</td>
                    <td>{{x.id}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        
        {%endblock%}
    
    </body>
</html>